.content-notes {
    position: absolute;
    width: 100vw;
    height: 100dvh;
    transform: translateY(5%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0px;
}

span#error {
    color: rgb(127, 0, 0);
    font-size: 1.4em;
    margin-bottom: 2%;
    text-wrap: nowrap;
    text-align: center;
}

.text-form {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: light-dark(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, .1));
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 2em;
    border: .15vw solid white;
    box-shadow: 0 .8vw 3.2vw 0 rgba(0, 0, 0, 0.37);
    background-size: 400% 400%;
    transition: ease border-radius .4s, ease transform .4s;

    .note-text{
        padding: 1em;
        min-width: 70vw;
        min-height: 70dvh;
        max-width: 90vw;
        max-height: 80dvh;
        background: transparent;
        border: none;
        outline:none;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.5em;
        caret-color: light-dark(black,orange);

        &::placeholder{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: light-dark(rgba(0, 0, 0, 0.516),rgba(255, 255, 255, 0.401));
        }
        
        &:focus{
            &::placeholder{
                color:transparent;
            }
        }

        &::-webkit-scrollbar {
            width: .2em;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(255,255,255,1);
            border-radius: 2em;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
            margin: 1.1em;
        }

        &::-webkit-scrollbar-corner {
           outline: 2em;
        }

        &::-webkit-resizer {
            border-bottom: .1em solid  rgba(255, 255, 255, 0.839);
            border-right: .1em solid  rgba(255, 255, 255, 0.839);
        }
    }
}



@media only screen and (max-height: 640px), only screen and (max-width: 695px) {
    .text-form{
        transform: translateY(-5%);
        width: 100vw;
        height: 100dvh;
        border-radius: 0;
        border: none;
        box-shadow: none;
        overflow: hidden;
        
        .note-text{
            position: absolute;
            bottom: 0;
            min-width: 100vw;
            min-height: 90dvh;
            max-width: 100vw;
            max-height: 90dvh;
            font-size: 4dvh;
            resize: none;
        }
    
        @media only screen and (max-device-width: 950px) and (max-device-height: 430px) and (orientation:landscape){
            .note-text{
                font-size: 3vw;
            }
        }
    }
}